/* Nav bar */

.nav-link .nav-item {
    padding: auto 30px;
    margin: 40px !important;
}

.nav1 {
    padding: 0px 20px;
}

/* #### Body #### */

body {
    overflow: hidden;
}

/* .form-body {
    margin-top: 3rem;
} */

h2 {
    margin:auto;
    margin-top: 10rem;
}

.card {
    margin-top: 3rem;
    height: auto;
}

/*  form */

input.myinput {
    width: 100%;
    display: block;
    margin: 10px;
    padding: 5px;
}